/* Configuration of game style */

.game{
	display: block;
	position: relative;
	display: table;
	width: 100%;
	height: calc(90vh - 202px);
	border: 1px solid #cccccc;	
	border-radius: 10px;
	background: #49b949;
}

.gameInfoHeader > span{
	float: right;
}

.dot{
	position: relative;
	background: #FFFFFF;
	border-radius: 5px;
	width: 5px;
	height: 5px;
	top: 20px;
	left: 30px;
}

.line{
	position: relative;
	background: #FFFFFF;
	border-radius: 5px;
	width: 2px;
	width: 2px;
}