/* Configuration of gme list style */

.list{
	display: table;
	width: 100%;
	border-spacing: 5px;
	border-collapse: separate;
	
	border: 1px solid #cccccc;	
	border-radius: 5px;
	margin: 3px 0px;
}

.listEntry{
	display: table-row;
	width: 100%;
}

.listEntryElement{
	display: table-cell;
	background: #EEEEEE;
	padding: 5px;
	border: 1px solid #cccccc;	
	border-radius: 5px;
	vertical-align: middle;
	width: 100%;
	
	font-weight: bold;
}

.listEntryElement > i{
	text-transform: lowercase;
	font-style: italic;
	font-weight: normal;
}