/* Configuration of different static content styles */

.mrTitle{
	font-size: 150%;
	font-weight: bold;
}

.button{
	display: table-cell;
	background: #D7D7D7;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;	
}

.button:hover{
	background: #D8D8FF;
	cursor: pointer;
}

