<!doctype html>
<html>
  <head>
    <title>WebSocket echo test</title>
    <script>
      var open = false
        , lastMessage

      window.onload = function () {
        // create socket
        var ws = new WebSocket('ws://localhost:3000');
        ws.onopen = function () {
          open = true;
        }
        ws.onmessage = function ( env ) {
          // we got echo back, measure latency
          document.getElementById('data').innerHTML = env.data;
        }

        // attach listeners to form
        document.getElementById('send').onsubmit = function () {
          if (open) {
            // record the timestamp
            lastMessage = +new Date;
            // send the message
            ws.send(document.getElementById('text').value);
            // clear the input
            document.getElementById('text').value = '';
            document.getElementById('text').focus();
          }
          return false;
        }
      }
    </script>
  </head>
  <body>
    <span id="data"></span>
  </body>
</html>
