div(id="contentliquid")
	div(id="contentwrap")
		div(id="content")
			<!-- CONTENT BEGIN -->
			div(class="list", id="gameControl")
				div(class="listEntry")
					span(class="listEntryElement gameInfoHeader")
					span(class="button", id="gameStartStop")
					span(class="button", id="gameRequestTimeout")
			canvas(class="game", id="game")
			div(class="list", id="gameInfo")
			div(id="data")