div(id="contentliquid")
	div(id="contentwrap")
		div(id="content")
			<!-- CONTENT BEGIN -->
			div(class="gameList", id="gameList")
				-	for( var game in listOfGames )
					-	if( listOfGames.hasOwnProperty( game ) && listOfGames[game].connected() )
							span(class="gameEntry" id= listOfGames[game].getName() )
								span(class="gameEntryElement") 
									= listOfGames[game].getName()
									| : 
									= listOfGames[game].getYellowTeamName()
									|  vs. 
									= listOfGames[game].getBlueTeamName()
									br
									i
									| Status = 
									= listOfGames[game].getGameStatus()
								-	if( joinedGames[listOfGames[game].getName()] )
									span(class="button" onclick='post_to_url( "/games/leave/' + listOfGames[game].getName() + '" , {} )' ) Leave
								else
									span(class="button" onclick='post_to_url( "/games/join/' + listOfGames[game].getName() + '" , {} )' ) Join