div(id="contentliquid")
	div(id="contentwrap")
		div(id="content")
			<!-- CONTENT BEGIN -->
			div(class="gameList", id="gameList")
				-	for( var game in listOfGames )
					-	console.log(game)
					-	if( listOfGames.hasOwnProperty( game ) && listOfGames[game].connected() )
							span(class="gameEntry" id= listOfGames[game].getName() )
								span(class="gameEntryElement") 
									= listOfGames[game].getName()
									| : 
									= listOfGames[game].getYellowTeamName()
									|  vs. 
									= listOfGames[game].getBlueTeamName()
									br
									i
									| Status = 
									= listOfGames[game].getGameStatus()
								span(class="button") Join