div(id="contentliquid")
	div(id="contentwrap")
		div(id="content")
			<!-- CONTENT BEGIN -->
			form(class="list", id="newGameForm", onsubmit="onsubmitNewGameForm()")
				span(class="listEntry")
					span(class="listEntryElement")
						Gamename: input(type="text", value="NewGame", size="16", id="newConnectionGamename")
						IP: input(type="text", value="127.0.0.1", size="12", id="newConnectionIP")
						Port: input(type="text", id="newConnectionPort", value="9060", size="3")
					span(class="button")
						input(type="submit", class="button", id="newGameConnect", value="New Game")
			div(class="list", id="gameList")
				-	for( var game in listOfGames )
					-	if( listOfGames.hasOwnProperty( game ) )
							span(class="listEntry" id= listOfGames[game].getName() )
								span(class="listEntryElement") 
									= listOfGames[game].getName()
									| : 
									= listOfGames[game].getYellowTeamName()
									|  vs. 
									= listOfGames[game].getBlueTeamName()
									br
									i
									| Status = 
									= listOfGames[game].getGameStatus()
								-	if( listOfGames[game].connected() )
									span( class="button" onclick='post_to_url( "/admin/games/disconnect/' + listOfGames[game].getName() + '" , {} )' ) Disconnect
								-	else
									span(class="button" onclick='post_to_url( "/admin/games/connect/' + listOfGames[game].getName() + '" , {} )' ) Connect
								span(class="button" onclick='post_to_url( "/admin/games/remove/' + listOfGames[game].getName() + '" , {} )' ) Remove