doctype 5
html(manifest="cache.manifest")
	head
		title= title
		block links
		block scripts
	body
		div(id="wrapper")
			include ./header
			block content
			include ./footer
		block extra