div(class="overlay" id="login")
	div(class="overlayWrapper")
		form(class="overlayForm" id="loginForm" action='javascript:void(0);' onsubmit='onclickloginSubmit();')
			div(class="overlayCancel" id="loginCancel" onclick='onclickloginCancel()') X
			div(class="overlayRow")
				div(class="overlayFormEntry") Username:
			div(class="overlayRow")
				div(class="overlayFormEntry") 
					input(type="text" class="textInput" id="loginUsername")
			div(class="overlayRow")
				div(class="overlayFormEntry") Password:
			div(class="overlayRow")
				div(class="overlayFormEntry")
					input(type="password" class="textInput" id="loginPassword")
			div(class="overlayRow")
				div(class="overlayFormEntry")
			div(class="overlayRow")
			input(type="submit" class="button" id="loginSubmit" value="Login")