div(id="contentliquid")
	div(id="contentwrap")
		div(id="content")
			div(class="list")
				div(class="listEntry")
					img(src="/img/mr-open.png", width="10%", style="float:left; padding-right:1%")
					div(style="font-weight:bold")
						| Welcome to Mixed-Reality Web Graphics.
					br
					br
					| Visit GAMES to join running games
					br
					| LOGIN to connect to new games (admin only)
					
			div(class="list")
				div(class="listEntry", style="font-weight: bold")
					| NEWS
					
			div(class="list")
				div(class="listEntry")
					span(style="font-style:italic")
						| 2014/01/13
					|  Call for Participation: RoboCup 2014
					br
					br
					| The call for participation in RoboCup 2014, João Pessoa, Brazil, is open for all Senior and Junior Leagues.
					br
					| For more information, please visit the 2014 Timeline page on http://www.robocup2014.org
						
			
			div(class="list")
				div(class="listEntry")
					span(style="font-style:italic")
						| 2013/11/18
					|  German MR-Open 2013 started today using new software frameworks.
					br
					br
					| This year the NorthernStars-team published a brand new server software that will get tested during this German Open.
					| The new Java-based server offers new methods to load various szenarios, not only soccer.
					| Also a complete AI-framework is published that can dynamically reload different AI behaviours and can also manage reconnects to the game server.
					| This framework is also written in Java. 
					br
					br
					| To involve new students into mixed-reality the German Open offering a guided workshop to learn how to program own AIs and how to use the framework.
					| The competition ends on 22th November with the finals of the best two teams.