p
	| Me, my boyfriend, my brother, my boyfriend's brother and his girl were living together in a 2 bedroom apartment. All five of us smoked and drank regularly, using an old closet door for a beer pong table. My brother once went through the drive through at Taco Bell with a friend strictly to get free cups to play beer pong with. We would eat whatever my brother would bring home from work at KFC for about a month and a half until he lost his job due to a weekend drinking binge. He was the only one working so we quickly ran out of food.
	br
	br
	| After about a month of ramen donated to us by my boyfriend's parents, my boyfriend's brother's girlfriend shoplifted a good 100 dollars worth of food shoved in her tripp pants and long sleeved shirt. This food lasted about a week. After that, the five of us were living off of beef broth made from beef granules and hot water and also peanut butter, straight from the jar with communial spoons. We washed dishes maybe once or twice in that three month period.
	br
	br
	| There was a jar of pickles in the fridge that nobody touched because during one of the parties we had, about five or six guys pissed into it, then attempted to get one of my brother's friends to eat the pickles.
	br
	br
	| The living room was covered in trash from wall to wall. My brother's computer was in the midst of his trash pile. The old CRT monitor was tanned from the constant cigarette smoke. There were 2 Big Gulp cups that were filled to the brim with cigarette butts. There were no ashtrays in the apartment, so everybody just ashed all over the floor. Any cash that we managed to get was spent on beer, cigarettes, and shrooms for my brother and his friends.
	br
	br
	| We managed to get pizza and breadsticks from the party store across the street at closing time so we had free pizza and breadsticks occasionally, that we had to split amongst the five of us. We had a schedule so that a different person would pick up the store's leftover pizza and breadsticks before the store caught on and told us we couldn't take any more from them. My brother had an eviction notice from months earlier tacked onto his wall dividing the kitchen from the hallway as his only means of decoration.
	br
	br
	| My boyfriend and I would sleep on a futon mattress in one room with his brother and his brother's girlfriend sleeping on the floor next to us. None of the closet doors were on the hinges anymore and were instead leaning against various walls. All and all, it was probably the best summer I've ever had.
	br