div( id="navigationwrap" )
	div(id="navigation")
		<!-- MENUE START -->
		span(class='button' + (main?' menueItemActive':'') id="menueMain" onclick='document.location.href = "/"' ) Main
		span(class='button' + (games?' menueItemActive':'') id="menueGames" onclick='document.location.href = "/games"' ) Games
		-	if( isAuthenticated )
				span(class='button' + (admin?' menueItemActive':'') id="menueAdmin"  onclick='document.location.href = "/games/admin"' ) Admin
		-	for( var joinedGame in joinedGames )
			-	if( joinedGames.hasOwnProperty( joinedGame ) )
					span( class='button' + (game == joinedGames[joinedGame] ?' menueItemActive':'') onclick='post_to_url( "/games/' + joinedGames[joinedGame] + '" , {} )' ) 
						=joinedGames[joinedGame]
								
		span(class='menueSeperator')
		-	if( isAuthenticated )
			span(class='button' id="menueLogin" onclick='onclickmenueLogout()') Logout
		-	else
			span(class='button' id="menueLogin" onclick='onclickmenueLogin()') Login
		<!-- MENUE END -->